body {
	background: url("background.jpg") no-repeat;
	background-color: #e8e1d1;
	font-family: Courier New, Verdana;
	font-weight: bold;
	 }
 .mane {
	 width: 1920px;
	 margin: auto;
       }    
.title {
	padding: 1px;     
    float: left;
	color: #1d3e74;
	   } 
.img {
	float: left;
	height: 210px;
    width: 400px;
	padding: 5px;
     }
H1{
	text-align: center;
	font-size: 100px;
	font-family: Impact;
	margin-bottom: -1px;
	margin-top: 10px;
  }
p {	
    font-style: italic;
    text-align: right;	 	
    padding: 10px; 
    outline: 2px solid #587d20;
    color: #552001;	
  }
hr {
    border: none;
    background-color: #1d3e74;
    color: #1d3e74;
    height: 2px;
   }
.clear {
	clear: both;
       }
.menu {
	margin-top: 80px;
    padding: 5px; 
   	font-family: Impact;
	font-size: 21px;
	position: fixed;
	width: 400px;
       }
ul {
    list-style: none;
   }  
a:link {
    color: #1d3e74;
    padding: 2px; 
	text-decoration: none;
   }
a:visited {
    color: #1d3e74;
    padding: 2px; 
          }
a:hover {
    background: #1d3e74;
    color: #e8e1d1;
        } 
.content {	
    float: left;
    margin-left: 407px;
	margin-top: 15px;
    padding: 1px;	
         }
caption {
	font-size: 50px;
	font-family: Impact;
	color: #587d20;
	    }
table {
    width: 100%; 
      }
thead {
	background-color: #552001;
	color: #f4ebe2;
	text-align: center;	
      }
td, th {
    padding: 1px;
    border: 1px solid #552001;
       }
th {
	   text-align: center;	
   }

tbody tr:hover {
    background: #587d20;
    color: #f4ebe2; 
               }
th a:hover {
    background: #587d20;
    color: #f4ebe2; 
           }   
tr.subtitle :hover {
    color: #552001; 
           }  
h2 {
    text-align: center;
    font-size: 20px;
	font-family: Impact;
	color: #552001;
}
    

.tabl{ 
    border: 2px solid #552001;
	padding: 10px; 
     }
#kod {
	width: 4%;
	 } 
#naz {
	width: 66%;
	 } 
#avt {
	width: 23%;
	 } 

#kyp {
	width: 7%;
	  } 
.forma {	
       text-align: center;
	   width: 800px;
	   padding: 10px;
	   margin: auto;
	   }
input, textarea {
	background-color: #e8e1d1;
                }
#button {	
	padding: 5px;
    border: 1px solid #552001;
	background-color: #552001;
	color: #f4ebe2;
	text-align: center;
	font-family: Impact;
	font-size: 19px;
	 }
.foot {
	clear: both;
	text-align: center;
       }